#connection
{
	margin-left: 40%;
	
}
#formul
{
	border: solid blue;
	width: 70%;
	margin: auto;
}
h1
{
	color: blue;
	margin-left: 20%;
}
#deconect
{
	margin-left: 60%;
	padding-right: 7%;
	
	
}