header 
{
	text-align: center;
	

}
header li
{
	text-decoration: none;
    margin-left: 8%;
    font-size: 1.5em;
}
p
{
	font-size: 1.5em;
}
footer 
{
	width: 1070px;
	
	background-color: rgba(0,255,255,0.6);
	margin-left: 10%;

}
footer a,li
{
	display: inline;
	text-decoration: none;
	margin-left:5%;
	font-size: 1.5em;
}